@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Cherry Cream Soda', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}